@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    background-color: $almond;
    color: $teal;
    font-family: 'Kirang Haerang', cursive;
    font-weight: 500;
}


.header {
  font-size: 5.2rem;
  margin: 3rem auto;
  text-align: center;
}

.top-rated {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3.8rem;
}

.anime-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    background-color: white;
    margin: 1rem auto;
    padding: 3rem auto;
    align-items: center;
}

.anime-card {
  height: 50vh;
  width: 20vw;
  margin: 0 auto;
  position: relative;
  margin: 2rem auto;
}
.anime-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all 0.3s;
}
.poster {
  width: 100%;
  height: 100%;
}
.anime-card-back {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(33, 33, 33, 0.8);
  width: 100%;
  height: 100%;
}
.anime-card-header {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 1rem auto;

  text-align: center;
}
.score-box,
.release-box {
  text-align: center;
  align-items: center;
}

.anime-genres {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.anime-genre {
  list-style: none;
}
.user-score {
  font-size: 2rem;
}
.release-date {
  font-size: 2rem;
}
.rating{
  font-size: 2rem;
  border: 1.5px solid;
  text-align: center;
  padding: .5%;
  width: 4vw;
  margin-left: 40%;
}
.synopsis{
  font-size: 1.2rem;
  padding: 0.5rem;
  font-family: 'Frank Ruhl Libre', serif;
}
.anime-card:hover .anime-card-front {
  z-index: 1;
}
.anime-card:hover .anime-card-back {
  z-index: 3;
  display: flex;
}
.test {
  color: black;
  font-size: 3rem;
}

.search{
    font-size:2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:30vw;
  height:15vh;
}

.btn-next,
.btn-prev{
  color: rgb(20, 238, 129);
  font-size: 2.5rem;
  border-radius: 3rem;
  padding:3.5%;
  align-items: center;
  width: 18rem;
}

