@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

html {
    height:100%;
}

body {
    background-color: $almond;
    color: $teal;
    font-family: 'Kirang Haerang', cursive;
}

